/* This is the main file for global styles. */

/* VARIABLES */
:root {
    --side-nav-bar-width: 350px;

    --MainBlue: hsl(225, 94%, 67%);
    --DarkerMainBlue: hsl(225, 100%, 40%);
    --DarkBlue: hsl(237, 52%, 36%);
    --DarkerBlue: hsl(240, 60%, 20%);
    --LightBlue: hsl(220, 100%, 90%);
    
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 12%);
    --Gray: hsl(228, 11%, 46%);
    --BlueGray: hsl(226, 28%, 73%);

    /* Default light mode */
    --bg-color: var(--White);
    --sec-bg-color: var(--LightBlue);
    --text-color: var(--Black);
    --footer-color: var(--MainBlue);

    --shadow-color: rgba(16, 185, 129, 0.15);
}

.dark-mode {
  --bg-color: var(--Black);
  --sec-bg-color: var(--DarkBlue);
  --text-color: var(--White);
  --footer-color: var(--DarkerMainBlue);
}

/* GLOBAL STYLES: MOBILE FIRST */
/* Semantic HTML */
* {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100vw;
    height: calc(100vh - 2rem);
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

header, main, hr {
    margin: 1rem 2rem;
    padding: 0 2rem;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

footer {
    background-color: var(--footer-color);
    width: 1000px;
    margin-top: 1rem;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 24px;
    padding: 0.4rem 0.8rem;
}

hr {
    /* border: 0; */
    height: 1px;
    width: 90%;
    background-color: var(--Gray);
    margin: 1rem auto;
    display: block; 
}

footer section:first-child {
    gap: 0.75rem;
}

footer b {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.2s ease;
}

footer a:hover {
    color: var(--DarkBlue);
}

/* --- --- COMMONS --- --- */

.c-text {
    color: var(--text-color);
}
.c-footer-info-section:hover {
    cursor: text;
}

/* --- --- BUTTONS --- --- */

/* Primary button */
.c-btn-primary {
  background-color: var(--MainBlue);
  color: var(--White);
}

.c-btn-primary:hover, c.btn-small:hover, c.btn-big:hover {
  background-color: var(--DarkerMainBlue); 
}

/* Secondary button */
.c-btn-secondary {
  background-color: var(--DarkBlue);
  color: var(--White);
}

.c-btn-secondary:hover {
  background-color: var(--DarkerBlue); 
}

/* Small button */
.c-btn-small {
  padding: 0.3em 0.8em;
  font-size: 0.85rem;
}

/* Big button */
.c-btn-big {
  padding: 0.9em 1.6em;
  font-size: 1.2rem;
}
/* --- --- NAV BAR --- --- */

/* mobile: side bar */
.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 998; 
}

.c-navbar-side {
    display: flex;
    padding: 0.5rem 0.75rem;
    align-items: center;
    justify-content: space-between;
}

.c-navbar-side input {
    width: 45vw;
    margin-right: 1rem;
}

.c-navbar-side-menu {
    background: var(--sec-bg-color);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: var(--side-nav-bar-width);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.c-navbar-side-menu .close-btn {
    position: absolute;
    left: 65%;
    top: 5rem;
}

.c-navbar-side-items {
    height: 75%;
    position: relative;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    
}

.c-navbar-side-items .c-navbar-side-more a {
    padding-left: 1rem;
}

.c-navbar-side-items a {
    padding-left: 5rem;
    margin-bottom: 4rem;
    width: 100%;
    font-size: 2rem;
    justify-self: left;
    color: var(--text-color);
    text-decoration: none;
}

.c-navbar-more {
    display: none;
}

.c-navbar-side-more {
    margin-bottom: 1.2rem;
}

.c-navbar-more {
    font-size: 1.25rem;
    color: var(--Black);
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.c-navbar-more *, .c-navbar-side-more * {
    margin-left: 0.6rem;
    
}
.c-navbar-more img, .c-navbar-more a img  {
    width: 1.4rem;
}

.c-navbar-side-more img, .c-navbar-side-more a img {
    width: 3rem;
}

/* --- --- LOGO --- --- */

/* header logo */
.c-logo-section  {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* space between icon & text */
    font-size: 1.25rem; 
    font-weight: 700;
    color: var(--Black);
    cursor: pointer;
}

.c-logo {
    width: 1.5rem;  
}

.c-logo-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

/* --- --- FOOTER --- --- */

.c-navbar-desktop {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
}

.c-navbar-desktop a {
    margin: 0 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    cursor: pointer;
    transition: color 0.2s ease;
    text-decoration: none;
}

.c-navbar-desktop a:hover {
    color: var(--MainBlue);
}

/* Profile, chatbox, dark/light mode */
.c-navbar-desktop-icons {
    display: flex;
    gap: 0.75rem;
    font-size: 1.25rem;
    color: var(--Black);
    cursor: pointer;
}

.c-footer-info-section {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* space between icon & text */
    font-size: 1.25rem; 
    font-weight: 700;
    color: var(--Black);
    cursor: pointer;
}

.c-footer-info-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.c-footer-links-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.c-footer-links-section div > * {
    margin-bottom: 0.8rem;
}

/* --- ---  ICON --- --- */

.c-icon-btn {
    width: 3rem;
    padding: 0.5rem;
  }
  
  .c-icon-btn-small {
    font-size: 1rem;
    padding: 0.25rem;
  }
  
  .c-icon-btn-large {
    font-size: 2rem;
    padding: 0.75rem;
  }

/* --- --- BREAKPOINTS FOR RESPONSIVENESS --- --- */

/* Mobile (e.g., ~320px - 576px) -> default
Tablet (e.g., ~760px - 992px)
Desktop (e.g., ~1150px - 1200px) */

@media (min-width: 760px) {
    /* Tablet styles here */
    .c-navbar-more .search-bar {
        width: 150px;
    }

    * {
        font-size: 16px;
    }

    footer {
        width: 100vw;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    footer section {
        flex: 1;
        min-width: 45%;
        margin-bottom: 1.5rem;
    }

    .c-navbar-desktop {
        display: flex;
    }
    .c-navbar-side {
        display: none;
    }
    .c-navbar-more {
        display: flex;
    }

}

@media (min-width: 1150px) {
    /* Desktop styles here */
    .c-navbar-more .search-bar {
        width: 180px;
    }

    * {
        font-size: 16px;
    }

    footer section {
        flex: 1;
        min-width: auto;
        margin-bottom: 0;
    }

    .c-navbar-desktop {
        display: flex;
    }
    .c-navbar-side {
        display: none;
    }
    .c-navbar-more {
        display: flex;
    }
}